<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:util="http://www.springframework.org/schema/util" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util 
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- Required to enable Spring post processing on @Configuration classes. -->
	<context:annotation-config />
 	<context:component-scan base-package="com.raj.beans"/>
 	<context:component-scan base-package="com.raj.controller"/>
 	<context:component-scan base-package="com.raj.service"/>
 	<context:component-scan base-package="com.raj.serviceImpl"/>
 	<context:component-scan base-package="com.raj.dao"/>
 	<context:component-scan base-package="com.raj.daoImpl"/>
 	
 	<context:property-placeholder location="classpath:hibernate.properties" />
	
	<!-- Database Configuration Start -->
				
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="${jdbc.connection.driver_class}"></property>
	<property name="url" value="${jdbc.connection.url}"></property>
	<property name="username" value="${jdbc.connection.username}"></property>
	<property name="password" value="${jdbc.connection.password}"></property>
	</bean>
	 
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
	  		<list>
	   			<value>com.raj.beans.CityBean</value>
	   			<value>com.raj.beans.CountryBean</value>
	   			<value>com.raj.beans.EmployeeBean</value>
	   			<value>com.raj.beans.DepartmentBean</value>
	  		</list>
 		</property> 
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2dll.auto}</prop>
            </props>
        </property>
    </bean>
    
    <!-- Database Configuration End -->
    
    <tx:annotation-driven />
    <tx:annotation-driven transaction-manager="transactionManager"/>
 
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>		
    
    <!-- Swagger Configuration Start -->
    
    <!-- Required so springfox can access spring's RequestMappingHandlerMapping  -->
   	<mvc:annotation-driven/>
	<bean class="com.raj.swagger.config.Swagger2Config"/>
	<bean class="com.raj.swagger.config.WebAppConfig"/>
   
	<!-- Swagger Configuration End -->
	
 </beans>